name: Pull Request

on:
  pull_request:
    branches: 
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint & Format Check
        run: bun run check

      - name: Type Check
        run: bun run typecheck
